---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import { getPreviewPosts } from "lib/clients";

const data = await getPreviewPosts();
const recentPosts = data.publication.posts.edges
  .slice(0, SITE.postPerIndex)
  .map(({ node }) => node);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Hey 👋, I'm Ákos.</h1>
      <div class="prose">
        <p>
          I'm a <span class="font-black text-orange-600"
            >software developer</span
          > with a passion for building <span class="font-black text-orange-600"
            >great web applications</span
          >, and <span class="font-black text-orange-600">sharing</span> what I learned with others.
        </p>
        <p>
          Over the past years I've published many articles about
          <a href="/tags/reactjs/">React</a>,
          <a href="/tags/typescript/">TypeScript</a>,
          <a href="/tags/nextjs/">Next.js</a>,
          <a href="/tags/testing/">Testing</a>,
          to share learnings with people I wish it existed when I run into these problems.
        </p>
        <p>The articles are written by me, they are well researched and contain practical examples or complete GitHub repositories.</p>
        <p>
          I'm also writing a weekly newsletter on all things that are interesting for software engineers these days
          <LinkButton
            className="inline-block rounded-md border border-skin-line bg-skin-card px-4 py-2 font-medium hover:bg-skin-card-muted hover:text-skin-accent"
            href="https://akoskm.substack.com/welcome?utm_source=akoskm.com&utm_medium=website"
          >
            ✉️ Subscribe</LinkButton>.
        </p>
        <p>
          Stay in the loop with what I'm working on and occasionally get discounts and free giveaways on my products. Sounds like a terrible deal, I know. 😄
        </p>
      </div>
    </section>

    <Hr />

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              (post, index) => index < SITE.postPerIndex && <Card post={post} />
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply inline-block text-xl font-bold sm:my-8 sm:text-3xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts,
  #testimonials {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2,
  #testimonials h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
