---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import { GumroadSubscribe } from "@components/GumroadSubscribe";
import { SITE } from "@config";
import { getPreviewPosts } from "lib/clients";
import type { Post } from "lib/schema";

const data = await getPreviewPosts();
const recentPosts = data.publication.posts.edges
  .slice(0, SITE.postPerIndex)
  .map(({ node }) => node);

// This ensures the page and all its data is generated at build time
export const prerender = true;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>I help you speedrun web development with simple tutorials, books, and real-world lessons.</h1>
      <GumroadSubscribe />
    </section>

    <Hr />

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              (post: Post, index: number) => index < SITE.postPerIndex && <Card post={post} />
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply inline-block text-xl font-bold sm:my-8 sm:text-3xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts,
  #testimonials {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2,
  #testimonials h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
